<!-- blog/templates/blog/post_form.html -->
{% extends "blog/base.html" %}

{% block title %}{% if form.instance.pk %}Edit Post{% else %}New Post{% endif %}{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit Post{% else %}New Post{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}Update{% else %}Create{% endif %}
        </button>
    </form>
{% endblock %}